.advantage {
    display: flex;
    align-items: center;

    &__body {
        margin: 1.8em auto 0;
        width: 32.4em;
        height: calc(100vh - 8em);
        min-height: 350px;
        position: relative;
        background: center / cover url("/img/advantage-bg.jpg");
        border-radius: 0.4em;

        @media (max-width: 800px) {
            width: 100%;
            height: calc(100vh - 22em);
        }
    }

    &__icons {
        position: absolute;
        right: 1.4em;
        bottom: 2.4em;
        z-index: 1;

        div + div {
            margin-top: 1.2em;
        }
    }

    &__icon {
        width: 2em;
    }

    &__text {
        padding: 0 5em;
        width: 100%;
        min-height: 6.8em;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 300;

        @media (max-width: 450px) {
            padding: 0 4em;
        }

        p {
            position: relative;
            text-align: center;
            transition: opacity 0.7s ease;

            &::before {
                content: "";
                width: 100%;
                position: absolute;
                top: 50%;
                left: 0;
                z-index: -1;
                transform: translateY(-50%);
                box-shadow: 0em 0em 2.8em 2.8em rgba($white, 1);
            }
        }

        p.hide {
            opacity: 0;
        }
    }
}
