@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

$white: white;
$black: black;
$darkGray: #333;
$lightGray: #dcdadb;
$darkBlue: #163069;
$blue: #3166d0;
$lightBlue: #bdd0f5;
$green: green;

html {
    font-size: calc(1vw + 10.6px);

    @media (min-width: 1440px) {
        font-size: 25px;
    }
}

body {
    min-height: 100vh;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    color: $darkGray;
    background-image: url("/img/bg-body.jpg");

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba($white, 0.5) 0%,
            rgba($white, 1) 20%,
            rgba($white, 1) 80%,
            rgba($white, 0.5) 100%
        );

        @media (max-width: 800px) {
            background: linear-gradient(
                90deg,
                rgba($white, 0.9) 0%,
                rgba($white, 1) 50%,
                rgba($white, 0.9) 100%
            );
        }
    }
}

*,
*:before,
*:after,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

input {
    outline: none;
    color: $darkGray;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: $darkGray;
    text-decoration: none;

    &:hover {
        color: $black;
    }
}

.container {
    margin: 0 auto;
    padding: 0 0.6em;
    max-width: 1200px;

    &--media-advantage {
        @media (max-width: 800px) {
            flex: 1;
        }
    }
}

.section-link {
    position: relative;
    top: -6em;
    visibility: hidden;
}

.title-section {
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;

    @media (max-width: 600px) {
        font-size: 2rem;
    }

    &--min {
        font-size: 2rem;
        text-align: initial;
    }
}

.title-item {
    font-size: 1.4rem;
    font-weight: normal;
}

.help-height-top {
    height: 5em;

    @media (max-width: 800px) {
        height: 7em;
    }
}

.help-height-bottom {
    height: 13.2em;
}

.alert {
    padding: 1em 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    text-align: center;
    font-weight: 300;
    background: $white;
    transform: translateY(-100%);
    transition: transform 0.5s ease;

    &.show {
        transform: translateY(0);
    }

    &--success {
        color: $green;
    }
}

// Helpers
.text-center {
    text-align: center !important;
}

.overflow-hidden {
    overflow: hidden !important;
}
