@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

$white: white;
$black: black;
$darkGray: #333;
$lightGray: #dcdadb;
$darkBlue: #163069;
$blue: #3166d0;
$lightBlue: #bdd0f5;

html {
    font-size: calc(1vw + 10.6px);

    @media (min-width: 1440px) {
        font-size: 25px;
    }
}

body {
    min-height: 100vh;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    color: $darkGray;
    background-image: url("/img/bg-body.jpg");

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            90deg,
            rgba($white, 0) 0%,
            rgba($white, 0.5) 5%,
            rgba($white, 1) 20%,
            rgba($white, 1) 80%,
            rgba($white, 0.5) 95%,
            rgba($white, 0) 100%
        );
    }
}

*,
*:before,
*:after,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: $darkGray;
    text-decoration: none;
    transition: color 0.1s linear;

    &:hover {
        color: $black;
    }
}

.container {
    margin: 0 auto;
    padding: 0 0.6em;
    max-width: 1200px;
}

.title-section {
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;

    &--min {
        font-size: 2em;
        text-align: initial;
    }
}

.title-item {
    font-size: 1.2rem;
    font-weight: normal;
}

.help-height-top {
    height: 8.8em;
}

.help-height-bottom {
    height: 13.2em;
}

// Helpers
.text-center {
    text-align: center !important;
}

.overflow-hidden {
    overflow: hidden;
}
