@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

$white: white;
$darkGray: #333;
$lightGray: #dcdadb;

html {
    font-size: calc(1vw + 10.6px);

    @media (min-width: 1440px) {
        font-size: 25px;
    }
}

body {
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
    color: $darkGray;
    background: url("/img/bg-body.jpg");
}

*,
*:before,
*:after,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

a {
    color: $darkGray;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 0.6em;
    max-width: 1320px;
    background: linear-gradient(
        90deg,
        rgba($white, 0) 0%,
        rgba($white, 1) 10%,
        rgba($white, 1) 90%,
        rgba($white, 0) 100%
    );

    &--bg-none {
        background: none;
    }

    &--advantage {
        padding: 8.6em 0.6em 1.6em;
    }

    &--partner {
        padding-bottom: 8.8em;
    }

    &--certificate {
        padding-bottom: 13em;
    }
}

.title-section {
    font-size: 2.6rem;
    font-weight: 400;
    text-align: center;
}
