.header {
    padding: 1em 0 1.5em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: linear-gradient(
        180deg,
        rgba($lightGray, 1) 0%,
        rgba($lightGray, 1) 70%,
        rgba($lightGray, 0) 100%
    );

    &.active {
        bottom: 0;
        color: $white;
        background: $darkBlue;

        .header__menu {
            &:hover {
                color: $lightBlue;

                hr {
                    background: $lightBlue;
                }
            }

            @media (max-width: 450px) {
                font-size: 1.5rem;
            }
        }

        hr {
            background: $white;
        }

        a {
            color: $white;

            &:hover {
                color: $lightBlue;
            }
        }

        .header__logo {
            img {
                @media (max-width: 450px) {
                    width: 1.4em;
                }
            }

            h1 {
                @media (max-width: 450px) {
                    font-size: 1.2rem;
                }
            }
        }

        .nav {
            display: block;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
            color: $black;

            hr {
                background: $black;
            }
        }

        @media (max-width: 450px) {
            font-size: 1.5rem;

            span {
                display: none;
            }
        }

        button {
            margin-right: 0.2em;

            @media (max-width: 450px) {
                margin-right: 0;
            }
        }

        hr {
            width: 0.8em;
            height: 1px;
            border: none;
            background: $darkGray;

            @media (max-width: 450px) {
                width: 1em;
            }
        }

        hr + hr {
            margin-top: 0.2em;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 0.8em;
            width: 1.4em;
        }

        h1 {
            font-size: 1.2rem;
            text-transform: uppercase;
            white-space: nowrap;
        }

        h2 {
            font-size: 0.6rem;
            font-weight: 300;
        }
    }

    &__contact {
        font-size: 0.6rem;
        font-weight: 300;

        @media (max-width: 800px) {
            div {
                margin-top: 1em;
            }
        }

        @media (max-width: 450px) {
            font-size: 0.8rem;
        }

        address {
            font-style: normal;
        }
    }
}
