.header {
    padding: 2.4em 0 3.2em;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(
        180deg,
        rgba($lightGray, 1) 0%,
        rgba($lightGray, 1) 70%,
        rgba($lightGray, 0) 100%
    );

    &.active {
        position: fixed;
        bottom: 0;
        z-index: 1000;
        color: $white;
        background: $darkBlue;

        hr {
            background: $white;
        }

        a {
            color: $white;
        }

        .nav {
            display: block;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__menu {
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;

        button {
            margin-right: 0.2em;
        }

        hr {
            width: 0.8em;
            height: 1px;
            border: none;
            background: $darkGray;
        }

        hr + hr {
            margin-top: 0.2em;
        }
    }

    &__logo {
        display: flex;
        align-items: center;

        img {
            margin-right: 0.8em;
            width: 2.4em;
        }

        h1 {
            font-size: 1.4rem;
            text-transform: uppercase;
            white-space: nowrap;
        }

        h2 {
            font-size: 0.6rem;
            font-weight: 300;
        }
    }

    &__contact {
        font-size: 0.8rem;
        font-weight: 300;

        address {
            font-style: normal;
        }
    }
}
