.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba($black, 0.9);

    &.active {
        display: flex;
    }

    &__close {
        padding: 0.6em 0.5em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        line-height: 0;
        cursor: pointer;
    }
}
