.nav {
    margin-top: 5em;
    display: none;

    &__body {
        display: flex;
        justify-content: space-between;
    }

    ul {
        max-width: 20em;
    }

    li + li {
        margin-top: 1em;
    }

    &__title {
        margin-bottom: 1em;
        font-size: 2rem;
    }

    a {
        font-size: 1.2rem;
        font-weight: 300;

        &:hover {
            color: $lightBlue;
        }
    }
}
