.nav {
    margin-top: 5em;
    display: none;

    @media (max-width: 800px) {
        margin-top: 3em;

        ul + ul {
            margin-top: 1.5em;
        }
    }

    @media (max-width: 450px) {
        margin-top: 2em;
    }

    &__body {
        display: flex;
        justify-content: space-between;

        @media (max-width: 800px) {
            flex-direction: column;
        }
    }

    ul {
        max-width: 20em;

        @media (max-width: 800px) {
            max-width: 100%;
        }
    }

    li + li {
        margin-top: 1em;
    }

    &__title {
        margin-bottom: 1em;
        font-size: 1.5rem;

        @media (max-width: 800px) {
            margin-bottom: 0;
        }
    }

    a {
        font-size: 1rem;
        font-weight: 300;

        &:hover {
            color: $lightBlue;
        }
    }
}
