.slider {
    position: relative;
    overflow: hidden;

    &__track {
        min-height: 20.8em;
        display: flex;
        transition: transform 0.5s ease;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
            img {
                position: relative;
                z-index: 1;
                transform: scale(1.7);
            }
        }

        img {
            max-width: 8.8em;
            transition: transform 0.5s ease;
        }
    }

    &__arrow {
        padding: 0.6em 0.4em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $white;
        box-shadow: 0px 2.63415px 2.63415px rgba($black, 0.25);
        border-radius: 50%;
        transition: background 0.1s linear;

        &:hover {
            background: $lightBlue;
        }

        img {
            display: block;
        }

        &--prev {
            left: 13em;

            @media (max-width: 800px) {
                left: 6em;
            }

            @media (max-width: 600px) {
                left: 0;
            }
        }

        &--next {
            right: 13em;

            @media (max-width: 800px) {
                right: 6em;
            }

            @media (max-width: 600px) {
                right: 0;
            }
        }
    }
}
