.vacancy {
    &__body {
        margin-top: 4.2em;
    }

    &__item {
        display: flex;
        align-items: center;

        & + & {
            margin-top: 3.6em;
        }
    }

    &__text {
        width: 17.5em;
        font-size: 1.2rem;
        font-weight: 300;
    }

    &__button {
        flex: 1;
        text-align: center;

        button {
            padding: 0.6em 1em;
            color: $white;
            background: $blue;
            border-radius: 0.4em;
            transition: background 0.1s linear;

            &:hover {
                background: $darkBlue;
            }
        }
    }
}
